body{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://static.vecteezy.com/system/resources/previews/007/164/537/original/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg");
}

label{
    font-weight: bold;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset{

    border-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

button:hover{
    background-color:rgb(42, 42, 221);
    transition: 2s;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    color:brown
}
a:active{
    color: chartreuse;
}